header {
	div.playerSummary {
		text-align: right;

		span.playerCount {
			font-size: 1.1em;
			font-weight: bold;
			color: #f9bd4b;
		}
	}

	div.currentPlayerInfo {
		i {
			font-size: 10pt;
			margin-top: -1.6em;
			display: block;
			color: #bbb;
		}

		.currentPlayerName {
			margin: 5pt 0 2pt 0; padding: 0;
			font-size: 15pt;
			font-weight: bold;
		}
		.currentPlayerRank {
			color: #f9bd4b;
		}
	}
}